= link_to(t('.back'), root_path)

%table(border="2")
  %thead
    %tr
      %th(colspan="4")= t('.groups')
    %tr
      %th= t('.starts_at')
      %th= t('.registrations_count')
      %th
      %th

  - @groups.each do |group|
    %tr
      %td= group.starts_at
      %td= group.registrations_count
      %td= link_to(t('.show_group'), group_path(group))
      %td= render partial: 'registrations/new', locals: { group_id: group.id }
