= link_to(t('.back'), course_groups_path(course_id: @group.course_id))
%table(border="2")
  %thead
    %tr
      %th(colspan="3")
        = t('.course')
        = @group.course.name
        = t('.group_starts_at')
        = @group.starts_at
    %tr
      %th= t('.email')
  - @registrations.each do |registration|
    %tr
      %td= registration.email

  %tr
    %td= render partial: 'registrations/new', locals: { group_id: @group.id }
