= form_with(model: Registration.new, url: group_registrations_path(group_id: group_id),
            html: { class: 'registration_form' }) do |f|
  %li.error_message(hidden='hidden')
  = f.text_field :email, placeholder: :email
  = f.submit :register
