%table(border="2")
  %thead
    %tr
      %th(colspan="4")= t('.courses')
    %tr
      %th= t('.name')
      %th
        = link_to(t('.starts_at'),
                  root_path(@ordered ? {} : { order_by: :starts_at }))
      %th= t('.registrations')
      %th
  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.starts_at
      %td= course.registrations_count
      %td
        = link_to(t('.groups'), course_groups_path(course_id: course.id))
